.gallery-hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #073C4E;
}

/* Background */
.hero-bg {
  position: absolute;
  top: 0;

  width: 100vw;
  height: 100vh;     

  object-fit: cover;
  object-position: center;
  z-index: 1;
}

/* Foreground */
.hero-fg {
  position: absolute;
  bottom: 0;

  width: 100vw;
  height: 100vh;

  object-fit: cover;
  object-position: center;
  z-index: 2;
}

.hero-photographer-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: visible;
}

.hero-box {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 80vh;     /* photographer height */
  width: auto;
  z-index: 3;
}

.hero-photographer {
  height: 100%;
  width: auto;
  display: block;
  z-index: 3;
}

.hero-lens {
  position: absolute;
  left: 45%;
  bottom: 33%;     /* % OF THE BOX — FIXES THE DRIFT */
  /* transform: translateX(-50%); */
  height: 11%;     /* % OF THE BOX */
  z-index: 4;
}


/* .hero-photographer-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: visible;
}

.hero-photographer {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: calc(100vh * 0.8);
  z-index: 3;
}

.hero-lens {
  position: absolute;
  left: 50%;
  bottom: calc(100vh * 0.8 * 0.33);
  transform: translateX(-50%);
  height: calc(100vh * 0.8 * 0.11);
  z-index: 4;
} */

