/* .codehero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  text-align: center;
  margin-top: -80px;
} */

.photo-hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.bg-layer {
  position: absolute;
  width: 110%;
  height: auto;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 1;
}

.photographer {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 60vw;
  max-width: 700px;
  transform: translateX(-50%);
  transform-origin: center bottom;
  z-index: 3;
  will-change: transform;
}

.fg-layer {
  position: absolute;
  bottom: 0;
  width: 120%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}

.lens {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 50%;
  bottom: 48%;
  transform: translate(-50%, 50%);
  z-index: 5;
  will-change: transform;
}

.gallery-section {
  padding: 4rem 2rem;
  background: white;
  min-height: 200vh;
}

