.gallery-hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #073C4E;
}

/* Background */
.hero-bg {
  position: absolute;
  top: 0;

  width: 100vw;
  height: 100vh;     

  object-fit: cover;
  object-position: center;
  z-index: 1;
}

/* Foreground */
.hero-fg {
  position: absolute;
  bottom: 0;

  width: 100vw;
  height: 100vh;

  object-fit: cover;
  object-position: center;
  z-index: 2;
}

/* Photographer (middle layer) */
.hero-photographer {
  position: absolute;
  bottom: 0;

  width: 115vw;
  height: 100vh;

  object-fit: cover;
  object-position: center;
  z-index: 3;
}


/* Lens */
.hero-lens {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 50%;
  bottom: 48%;       /* tweak this to match the camera lens position */
  transform: translate(-50%, 50%);
  z-index: 4;
  will-change: transform;
}

