.gallery-hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #073C4E;
}

/* Background */
.hero-bg {
  position: absolute;
  top: 0;

  width: 100vw;
  height: 100vh;     

  object-fit: cover;
  object-position: center;
  z-index: 1;
}

/* Foreground */
.hero-fg {
  position: absolute;
  bottom: 0;

  width: 100vw;
  height: 100vh;

  object-fit: cover;
  object-position: center;
  z-index: 2;
}

.hero-photographer-wrapper {
  position: absolute;
  bottom: 0;
  left: -5%;

  width: 115vw;
  height: 100vh;
  z-index: 3;
}

/* Photographer (middle layer) */
.hero-photographer {
  position: absolute;
  bottom: 0;

  width: 115vw;
  height: 100vh;

  object-fit: cover;
  object-position: center;
  z-index: 3;
}


/* Lens */
.hero-lens {
  position: absolute;
  left: 50%;
  bottom: 31%;
  /* bottom: 31.5%;
  left: 50%; */

  width: auto;
  height: 13%;
  transform: translateX(-30%);

  /* object-fit: contain;
  object-position: center; */
  z-index: 4;
}

