.gallery-hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #073C4E;
}

/* Background */
.hero-bg {
  position: absolute;
  top: 0;

  width: 100vw;
  height: 100vh;     

  object-fit: cover;
  object-position: center;
  z-index: 1;
}

/* Foreground */
.hero-fg {
  position: absolute;
  bottom: 0;

  width: 100vw;
  height: 100vh;

  object-fit: cover;
  object-position: center;
  z-index: 2;
}

.hero-photographer-wrapper {
  position: relative;  /* important */
  width: 100%;
  height: 100vh;  /* shared coordinate space */
  overflow: visible;
}

/* Photographer */
.hero-photographer {
  position: absolute;
  left: 50%;
  bottom: 0%;      /* adjust as needed */
  transform: translateX(-50%);
  height: 70vh;      /* scales with screen */
  z-index: 3;
}

/* Lens */
.hero-lens {
  position: absolute;
  left: 50%;
  bottom: 45%;      /* adjust so it aligns over the camera */
  transform: translateX(-50%);
  height: 12vh;      /* scales proportionally */
  z-index: 4;
}


/* .hero-photographer-wrapper {
  position: absolute;
  bottom: 0;
  left: -5%;

  width: 115vw;
  height: 100vh;
  z-index: 3;
}

.hero-photographer {
  position: absolute;
  left: 50%;
  bottom: -55%;

  width: auto;
  height: 950px;
  transform: translate(-50%, -50%);

  z-index: 3;
}


.hero-lens {
  position: absolute;
  left: 50%;
  bottom: 30%;

  width: 110px;
  height: 110px;
  transform: translate(-50%, -50%);

  z-index: 4;
} */

/* .hero-photographer {
  position: absolute;
  bottom: 0;

  width: 115vw;
  height: 100vh;

  object-fit: cover;
  object-position: center;
  z-index: 3;
}


.hero-lens {
  position: absolute;
  left: 50%;
  bottom: 30%;

  width: 110px;
  height: 110px;
  transform: translate(-50%, -50%);

  z-index: 4;
} */

